.title{
    text-align: center;
}

.link{
    color: #007bff;    
}
.link:hover{
    cursor: pointer;
}
.link-with-margin{
    margin-top: 1rem;
}

.center-text {
    text-align: center;
    color: #252525;
    margin-top: 1rem;
}

.paragraphs-two {
    padding-bottom: 2rem;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
}


.check-box input {
    cursor: pointer;
    margin-left: 0.25rem;
    margin-right: .5rem;      
    transform: scale(1.5);    
}

.check-box input[type='checkbox'] {
    accent-color: #42b983;
}

.button-margin{
    margin: .5rem;
    margin-right: .25rem;
    margin-left: .25rem;
}

.agree-background{
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 5rem;
    width: fit-content;
}


.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;     
  }