.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    
    
    margin-top: 2rem;
}

.centering li{
    list-style-type: none;
}

.set-width{
    max-width: 80rem;
}